<section class="sub-head-container">
    <div class="container sub-head-wrapper">
        <h2>Your Cart</h2>
    </div>
</section>
<br> {{# if products }}
<div class="row">
    <div class="col-sm-6 col-md-6 offset-md-3 offset-sm-3">
        <h2>Shopping Cart</h2>
        <ul class="list-group">
            {{# each products }}
            <li class="list-group-item">
                <span class="badge">{{ this.qty }}</span>
                <strong>{{ this.item.title }}</strong>
                <span class="label label-success">{{ currencyFormatter this.price }}</span>
                <a href="/reduce/{{this.item._id}}">
                    <i class="far fa-trash-alt"></i>
                </a>
            </li>
            {{/each}}
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-sm-6 col-md-6 offset-md-3 offset-sm-3 row-spacing">
        <strong>Total: {{ currencyFormatter totalPrice }}</strong>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-sm-6 col-md-6 offset-md-3 offset-sm-3">
        <a href="/checkout" type="button" class="btn btn-success">Checkout</a>
    </div>
</div>
{{ else }}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Cart is Empty :(</h1>
        <br>
        <a class="btn btn-primary btn-lg" href="/" role="button">Browse the Shop</a>
    </div>
</div>
{{/if}}